<section data-ng-controller="ClientsController">
    <div class="page-header">
        <h1>New Client</h1>
               
    </div>
    <div class="col-md-12">
        <form data-ng-submit="create()" novalidate>
            <fieldset>
              <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required />
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" for="company">Company</label>
                    <div class="controls">
                        <input type="text" data-ng-model="company" id="company" class="form-control" placeholder="Texport Garments Pvt Ltd" required />
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" data-ng-model="email" id="email" class="form-control" placeholder="rajasekaran@247lifetime.com" required />
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label" for="address">Address</label>
                    <div class="controls">
                        <textarea rows="4" data-ng-model="address" id="address" class="form-control" placeholder="#1, Enn Aar Towers, Binny Compound, Tirupur - 641601" required />
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    <label class="control-label" for="phone">Phone</label>
                    <div class="controls">
                        <input type="number" data-ng-model="phone" id="phone" class="form-control" placeholder="919962264503" required />
                    </div>
                </div>                

              </div>
              <div class="row">
                <div data-ng-show="error" class="text-danger">
                  <strong data-ng-bind="error"></strong>
                </div>               
                <div class="col-md-2 form-group">
                    <input type="submit" class="btn btn-primary" />
                </div>              
              </div>
            </fieldset>
        </form>
    </div>
</section>