<section data-ng-controller="ClientsController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Edit Client</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/clients">Clients</a>
          </li>
          <li class="active">
            <strong>Edit Client</strong>
          </li>          
        </ol>            
    </div> 
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
              <div class="col-md-4 form-group">
                <label class="control-label" for="companyname">Company Name</label>
                <div class="controls">
                  <input type="text" data-ng-model="client.companyname" id="companyname" class="form-control" placeholder="Texport Garments Pvt Ltd" required />
                </div>
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label" for="contactname">Contact Name</label>
                <div class="controls">
                  <input type="text" data-ng-model="client.contactname" id="contactname" class="form-control" placeholder="Mr. Rajasekaran" required />
                </div>
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                  <input type="text" data-ng-model="client.email" id="email" class="form-control" placeholder="rajasekaran@247lifetime.com" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 form-group">
                <label class="control-label" for="address">Address</label>
                <div class="controls">
                  <textarea rows="4" data-ng-model="client.address" id="address" class="form-control" placeholder="#1, Enn Aar Towers, Binny Compound, Tirupur - 641601" required />
                </div>
              </div> 
              <div class="col-md-2 form-group">
                <label class="control-label" for="phone">Phone</label>
                <div class="controls">
                  <input type="number" data-ng-model="client.phone" id="phone" class="form-control" placeholder="919962264503" required />
                </div>
              </div>                
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary">
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>